<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/util 
       http://www.springframework.org/schema/util/spring-util.xsd">

	<context:component-scan
		base-package="com.jlp.application" />

	<bean id="productInfoFacade"
		class="com.jlp.application.facade.impl.DefaultProductInfoFacade">
		<property name="productInfoService" ref="productInfoService" />
		<property name="productConvertor" ref="productConvertor" />
	</bean>

	<bean id="productInfoService"
		class="com.jlp.application.services.impl.DefaultProductInfoService">
		<property name="webClientService" ref="webClientService" />
		<property name="productServiceUtil" ref="productServiceUtil" />
	</bean>

	<bean id="okHttpClient" class="okhttp3.OkHttpClient" />

	<bean id="webClientService"
		class="com.jlp.application.services.impl.DefaultWebClientService">
		<constructor-arg index="0" ref="okHttpClient" />
		<constructor-arg index="1"
			value="${products.category.api.connection.timeout},${products.category.api.read.timeout}" />
		<property name="apiBaseURL"
			value="${products.category.source.api.base.url}" />
		<property name="key"
			value="${products.category.api.key.value}" />
	</bean>

	<bean id="productConvertor"
		class="com.jlp.application.convertor.impl.ProductInfoConvertor">
		<property name="populator" ref="productInfoPopulator" />
		<property name="targetClass"
			value="com.jlp.application.data.Products" />
	</bean>

	<bean id="productInfoPopulator"
		class="com.jlp.application.populator.impl.ProductInfoPopulator">
		<property name="colorRGBMap"
			value="#{${skiu.color.colorRGBMap.map}}" />
		<property name="productServiceUtil" ref="productServiceUtil" />
	</bean>

	<bean id="productServiceUtil"
		class="com.jlp.application.util.ProductServiceUtil">
		<property name="messageSource" ref="messageSource" />
	</bean>

	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename">
			<value>resources\messages</value>
		</property>
	</bean>

</beans>