<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/util 
       http://www.springframework.org/schema/util/spring-util.xsd">

	 <context:component-scan base-package="com.jlp.application"/>

	<bean id="productInfoFacade" class="com.jlp.application.facade.impl.DefaultProductInfoFacade">
	</bean>

	<bean id="productInfoService" class="com.jlp.application.services.impl.DefaultProductInfoService">
	</bean>
	
	<bean id="webClientService" class="com.jlp.application.services.impl.DefaultWebClientService">
	</bean>
	
	<bean id="productConvertor" class="com.jlp.application.convertor.impl.ProductInfoConvertor">
		<property name="populator" ref="productInfoPopulator"/>
		<property name="targetClass" value="com.jlp.application.data.Products"/>
	</bean>
	
	<bean id="productInfoPopulator" class="com.jlp.application.populator.impl.ProductInfoPopulator">
	</bean>
	
	<bean id="productServiceUtil" class="com.jlp.application.util.ProductServiceUtil">
	</bean>
	
	<util:map id="colorRGBMap">
        <entry key="BLACK" value="000000"/>
        <entry key="WHITE" value="FFFFFF"/>
        <entry key="RED" value="FF0000"/>
        <entry key="LIME" value="00FF00"/>
        <entry key="BLUE" value="0000FF"/>
        <entry key="YELLOW" value="FFFF00"/>
        <entry key="CYAN" value="00FFFF"/>
        <entry key="MAGENTA" value="FF00FF"/>
        <entry key="SILVER" value="C0C0C0"/>
        <entry key="GREY" value="808080"/>
        <entry key="MAROON" value="800000"/>
        <entry key="OLIVE" value="808000"/>
        <entry key="GREEN" value="008000"/>
        <entry key="PURPLE" value="800080"/>
        <entry key="TEAL" value="008080"/>
        <entry key="NAVY" value="000080"/>
    </util:map>
    
    <util:map id="currencyMap">
    	<entry key="GBP" value="£"/>
        <entry key="DOLLAR" value="$"/>
    </util:map>

</beans>